.contenedor{
    min-height: 100vh;
    margin:0;
    padding:0;
   background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


},
.mediana{
        width: 200;
        height: 220;

  }

.nav{
   background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-color:black;

}
.nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #8c3939;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.footer{
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

width: 100%;
height: 60px; 

}
.columna{
    padding-left:0px;
}
.fila{
    
}
.text-muted{
    color:#0079ff90
}
.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}